.about-container {
    font-size: 1.1rem;
    color: var(--text-color);
}

.about-container .sub-about-container .points {
    line-height: 2;
}

.about-container .sub-about-container .about-contact-details {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.about-container .sub-about-container .about-contact-details div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-container .sub-about-container .about-contact-details div svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--blue-color);
}

.about-contact-details .field {
    font-weight: 600;
}

.about-container .counts-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.about-container .counts-container .count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    color: var(--text-color);
}

.about-container .counts-container .count .count-number {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    line-height: 1;
}

.about-container .counts-container .count-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    box-shadow: inset 0 0 120px rgba(143, 190, 255, 0.277);
    transition: 0.3s;
}

.about-container .counts-container .count:hover .count-icon {
    background-color: var(--blue-color);
}

.about-container .counts-container .count svg,
.about-container .counts-container .count img {
    fill: var(--text-color);
    transition: 0.3s;
}

.about-container .counts-container .count:hover svg,
.about-container .counts-container .count:hover img {
    fill: #fff;
}

@media (max-width: 630px) {
    .about-container .sub-about-container .about-contact-details {
        grid-template-columns: auto;
    }
}

@media (max-width: 480px) {
    .about-container {
        padding: 0;
        font-size: 1rem;
    }
}