.title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.title-container:hover .main-title-node-container {
    display: block;
}

.main-title-node-container {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.5rem;
    width: fit-content;
    font-size: 0.75rem;
    line-height: 1rem;
    top: 0px;
    transform: translateY(-100%);
    top: -6px;
    background: rgb(222, 222, 222);
}

.title-arrow {
    position: absolute;
    left: 50%;
    border-top-width: 8px;
    border-right-width: 8px;
    border-left-width: 8px;
    width: 8px;
    height: 8px;
    bottom: -5px;
    transform: rotate(45deg) translateX(-50%);
    background: rgb(222, 222, 222);
}