/* app/globals.css */
@import "tailwindcss";

/* Define your custom theme variables here */
@theme {
  --color-primary: #2563eb; /* Replace with your actual brand color */
  /* You can easily map custom fonts and spacing here as well */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-gutter: stable;
}
