@keyframes invisibleToVisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
    
}

@keyframes topToBottom {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}