.certification-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.certification.education-card {
    width: auto;
    font-size: 1rem;
}

@media (max-width: 480px) {
    .certification-container {
        padding: 0 2rem;
    }
}