.contact-container {
    display: grid;
    grid-template-columns: 40% 60%;
    color: var(--text-color);
}

.contact-container .left-side {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
}

.left-side .contact-details-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.left-side .contact-details-card h2 {
    font-weight: 600;
    margin: 0;
    color: var(--text-color);
}

.left-side .img-container {
    padding: 0.5rem;
    background: var(--container-color);
    box-shadow: inset 0 0 120px rgba(143, 190, 255, 0.277);
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    transition: 0.3s;
}

.left-side .contact-details-card:hover .img-container {
    background: var(--blue-color);
}

.left-side .contact-details-card:hover svg {
    fill: #fff;
}

.left-side .img-container svg {
    width: 2rem;
    object-fit: cover;
    fill: var(--text-color);
    transition: 0.3s;
}





.right-side {
    display: grid;
    justify-content: center;
    align-items: center;
}

.right-side input,
.right-side textarea {
    font-family: "Open Sans", sans-serif;
    background: #F7F8FA;
    outline: none;
    border: 1px solid #D9D9DB;
    padding: 1rem;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    width: 100%;
    box-sizing: border-box;
}

.right-side textarea.msg {
    resize: vertical;
}

.right-side .input-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.right-side .input-title {
    position: relative;
    left: 0.2rem;
}

.right-side .send-btn {
    border-radius: 1.25rem;
    background: var(--blue-color);
    height: 2.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 0.9375rem;
    margin: 1rem 0;
    cursor: pointer;
    padding: 0 1.2rem;
}

.right-side .send-btn:disabled {
    background: #D9D9DB;
    cursor: not-allowed;
}

.right-side .send-btn-container {
    display: grid;
    justify-content: center;
}

@media (max-width: 650px) {
    .left-side {
        padding-left: 0rem;
    }

    .contact-container {
        grid-template-columns: none;
    }
}