.contact-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.left-side img {
    width: 60%;
    position: relative;
    left: 65%;
    transform: translate(-50%, 0);
}



.right-side {
    display: grid;
    justify-content: center;
    align-items: center;
}

.right-side input {
    background: #F7F8FA;
    outline: none;
    border: 1px solid #D9D9DB;
    padding: 1rem;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
}

.right-side input.msg {
    width: 93%;
}

.right-side .input-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 100%;
}

.right-side .input-title {
    position: relative;
    left: 0.2rem;
}

.right-side .send-btn {
    border-radius: 1.25rem;
    background: var(--blue-color);
    height: 2.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 0.9375rem;
    margin: 1rem 0;
    cursor: pointer;
    padding: 0 1.2rem;
}

.right-side .send-btn-container {
    display: grid;
    justify-content: center;
}

@media (max-width: 650px) {
    .contact-container .left-side {
        display: none;
    }

    .contact-container {
        grid-template-columns: none;
    }

}