.education-container {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
}

.education-card {
    width: 700px;
    padding: 15px;
    background: var(--card-container-color);
    border-radius: 10px;
    /* box-shadow: 0px 5.333px 16px 0px rgba(194, 229, 255, 0.132); */
    border: 2px solid rgba(0, 0, 0, 0.15);
    color: var(--text-color);
    animation: leftToRight 0.5s linear;
}

.education-name {
    font-size: 1.4rem;
    font-weight: bold;
}

.education-card .place {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.app.dark .education-card .place {
    color: rgba(255, 255, 255, 0.6);
}

.education-card .marks {
    font-size: 1.6rem;
    color: var(--blue-color);
    font-weight: bold;
}

@media (max-width: 870px) {
    .education-card {
        width: auto;
    }
}

@media (max-width: 480px) {
    .education-container {
        padding: 0 2rem;
    }
}