.education-container {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    padding: 0 8rem;
}

.education-card {
    width: 700px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5.333px 16px 0px rgba(0, 0, 0, 0.15);
}

.education-name {
    font-size: 22px;
    font-weight: bold;
}

.education-card .place {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.education-card .marks {
    font-size: 24px;
    color: dodgerblue;
    font-weight: bold;
}