.header {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0 10%;
    z-index: 2;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro,
.photo,
.intro .main-intro {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.intro {
    color: var(--text-color);
}

.intro .main-intro {
    animation: rightToLeft 0.8s linear;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.1;
}

.intro .main-intro .name {
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--blue-color);
}

.intro .sub-intro-container {
    animation: bottomToTop 1s linear;
    font-size: 1.5rem;
}

.intro .sub-intro-container .sub-intro {
    display: flex;
    align-items: flex-end;
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    ;
}

.intro .sub-intro-heading {
    font-size: 2rem;
    color: var(--blue-color);
    font-weight: 500;
    display: inline-block;
}

.header-icons {
    justify-self: start;
    margin-top: 2rem;
}

.header-icons a svg {
    margin-right: 1rem;
    width: 1.3rem;
}

.intro .download-btn {
    background: var(--blue-color);
    padding: 0.6rem 0.7rem;
    width: 22%;
    display: grid;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    border-radius: 5rem;
    margin-top: 1rem;
}

.photo {
    justify-items: center;
}

.photo img {
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    animation: invisibleToVisible 1s linear;
}

/* 
.photo .wave {
    position: absolute;
}

.photo .wave g path {
    fill: dodgerblue;
    opacity: 0.5;
} */


@media (max-width: 1285px) {
    .photo img {
        width: 80%;
    }
}

@media (max-width: 865px) {
    .intro .download-btn {
        width: 40%;
        margin: auto;
        margin-top: 1rem;
    }

    .intro .sub-intro {
        justify-content: center;
    }

    .intro .header-icons {
        justify-self: center;
    }

    .header {
        padding-top: 2rem;
        grid-template-columns: none;
        grid-template-areas: "img"
            "text";
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .photo img {
        grid-area: img;
        width: 60%;
    }

    .intro {
        left: 0;
        align-self: self-start;
        grid-area: text;
    }

    .intro .main-intro .name {
        font-size: 2.5rem;
    }
}

#cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}