.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    backdrop-filter: blur(12px);
}

.loader-container p {
    position: absolute;
    left: 50%;
    bottom: 7rem;
    transform: translate(-50%, 0);
    color: var(--text-color);
}

.inner-loader {
    width: 9rem;
    height: 9rem;
    border: 6px solid transparent;
    border-left: 6px solid orange;
    border-top: 6px solid orange;
    animation: auto-rotate 1s linear infinite reverse;
}

.outer-loader {
    width: 15rem;
    height: 15rem;
    border: 6px solid transparent;
    border-left: 6px solid dodgerblue;
    border-top: 6px solid dodgerblue;
    animation: auto-rotate 1s linear infinite;
}

.inner-loader,
.outer-loader {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes auto-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}