.btn {
    display: grid;
    grid-auto-flow: column;
    font-size: 1rem;
    gap: 0.6rem;
    background: #2F6CE5;
    padding: 0.8rem 1rem;
    color: #fff;
    border-radius: 0.2rem;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background: rgba(47, 108, 229, 0.9);
}

.btn:active,
.btn:hover {
    color: #fff;
}

.projects-container {
    display: grid;
    width: 90%;
    gap: 1rem;
    grid-template-columns: repeat(4, auto);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1rem;
}

.project-container {
    border-radius: 0.3rem;
    background: #FFF;
    box-shadow: 0px 5.333px 16px 0px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 55% auto;
    gap: 0.8rem;
    padding-bottom: 0.8rem;
}

.project-container .project-image img {
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.project-container .project-name {
    font-weight: bold;
    font-size: 1.4rem;
}

.project-container .details {
    padding: 0 1.1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 0.7rem;
}

.link-container {
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    color: #000;
    font-weight: bold;
}

.link-container img {
    width: 0.8rem;
}

.link-container:active {
    color: #000;
}

.see-more-btn-container {
    position: relative;
    left: 5%;
    width: 90%;
    display: grid;
    justify-content: end;
}

.project-container .about-project .read-more-btn {
    color: dodgerblue;
    cursor: pointer;
}

@media (max-width: 950px) {
    .projects-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    .projects-container {
        grid-template-columns: auto;
    }
}