.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: space-between;
    align-content: start;
    gap: 1rem;
    width: 90%;
    position: relative;
    left: 5%;
    /* min-height: 100vh; */
}

.skills-container .skill-container {
    border-radius: 0.3rem;
    background: var(--container-color);
    transition: 0.3s;
    padding: 0.6rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 60% 40%;
    color: var(--text-color);
    animation: bottomToTop linear;
}

.skills-container .skill-container:hover {
    background: #bfe5ff;
}

.app.dark .skills-container .skill-container:hover {
    background: rgba(255, 255, 255, 0.3);
}

.skills-container .skill-name-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
}

.skills-container .skill-name-container img {
    width: 40px;
}

.skills-container .skill-name-container .skill-name {
    font-weight: bold;
}

.skills-container .skill-container .skill-details {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 3px;
}

.skills-container .skill-container .skill-details img {
    width: 15px;
    height: 15px;
}

.sort.btn {
    background: rgba(170, 212, 255, 0.518);
    color: #000;
}

@media (max-width: 1250px) {
    .skills-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 1000px) {
    .skills-container .skill-name-container img {
        width: 20px;
    }

    .skills-container .skill-container .skill-details img {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 870px) {
    .screen-container .skills-container .skill-container .skill-name {
        display: none;
    }

    .skills-container .skill-container {
        gap: 0.5rem;
    }

    .skills-container {
        grid-template-columns: repeat(5, auto);
        justify-content: stretch;
    }
}

@media (max-width: 550px) {
    .skills-container {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 480px) {
    .skills-container {
        grid-template-columns: repeat(3, auto);
    }
}