.skills-container .skill-container {
    border-radius: 0.3rem;
    background: var(--container-color);
    transition: 0.5s;
    padding: 0.6rem;
    cursor: pointer;
    display: inline-block;
    color: var(--text-color);
    animation: bottomToTop linear;
    max-width: max-content;
    margin-bottom: 0.8rem;
    margin-left: 0.8rem;
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    /* font-size: 1rem; */
}

.skills-container .skill-container .sub-skill-container {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.skills-container .skill-container:hover {
    background: #bfe5ff;
}

.app.dark .skills-container .skill-container:hover {
    background: rgba(255, 255, 255, 0.3);
}

.skills-container .skill-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.skills-container .skill-name-container img {
    width: 2.5rem;
}

.skills-container .skill-name-container .skill-name {
    font-weight: 600;
    justify-self: start;
    text-wrap: nowrap;
}

.skills-container .skill-container .skill-details {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 3px;
}

.skills-container .skill-container .skill-details img {
    width: 15px;
    height: 15px;
}

.heading#skills .btn-container {
    display: flex;
    gap: 1rem;
}

.sort.btn {
    background: rgba(170, 212, 255, 0.518);
    color: var(--text-color);
    border: none;
}

.skill-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skill-details-container .heading {
    padding-bottom: 0;
}

.skill-details-container .projects-container {
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0.5rem;
}

@media (max-width: 1000px) {
    .skills-container .skill-name-container img {
        width: 2rem;
    }

    .skills-container .skill-container .skill-details img {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 870px) {
    .screen-container .skills-container .skill-container .skill-details {
        display: none;
    }

    .skills-container .skill-container {
        gap: 0.5rem;
    }
}

@media (max-width: 420px) {
    .sort.btn {
        font-size: 0.9rem;
    }

    .heading#skills .btn-container {
        gap: 0.5rem;
    }

    .heading#skills:first-child {
        font-size: 1.5rem;
    }
}

@media (max-width: 380px) {
    .heading#skills .btn-container {
        flex-direction: column;
    }
}