.internship-page-container {
    flex-grow: 1;
    padding: 4rem;
    padding-top: 1rem;
    margin-top: 4.5rem;
    box-sizing: border-box;
    color: var(--text-color);
}

.internship-page-container h2 {
    margin-top: 1rem;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.internship-page-container .skills-container .skill-name-container img {
    width: 1.5rem;
    height: 1.5rem;
}

.internship-page-container .skills-container .skill-name-container {
    gap: 0.3rem;
}

@media (max-width: 800px) {
    .internship-page-container {
        padding: 2rem;
    }
}
