* {
    scroll-behavior: smooth;
}

.app {
    --blue-color: #2F6CE5;
    --background-color: #fff;
    --text-color: #272829;
    --heading-color: var(--text-color);
    --container-color: #f7fcff;
    --card-container-color: #fff;
}

.app.dark {
    --blue-color: #2F6CE5;
    --background-color: #202020;
    --text-color: #fff;
    --heading-color: var(--text-color);
    --container-color: #3d3d3d;
    --card-container-color: var(--container-color);
}

html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 4.5rem;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #707070ba;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5555558e;
}

.app {
    display: grid;
    gap: 2rem;
    background: var(--background-color);
    min-height: 100vh;
}

.heading {
    /* scroll-snap-align: start; */
    font-family: "Raleway", sans-serif;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: var(--heading-color);
    padding-bottom: 2rem;
}

.heading div:first-child {
    animation: leftToRight 1s linear, invisibleToVisible 1s linear;
}

.heading.zero-padding {
    padding: 0 !important;
}

.heading img {
    width: 1.2rem;
}

.screen-container {
    padding: 0 5%;
}

/* .screen-container {
    min-height: 100vh;
} */

@media (max-width: 1285px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 1140px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .heading {
        scroll-snap-align: none;
    }
}