* {
    scroll-behavior: smooth;
}

.app {
    --blue-color: #2F6CE5;
    --background-color: #fff;
    --text-color: #000;
    --heading-color: var(--text-color);
    --container-color: #F5FCFF;
    --card-container-color: #fff;
}

.app.dark {
    --blue-color: #2F6CE5;
    --background-color: #202020;
    --text-color: #fff;
    --heading-color: var(--text-color);
    --container-color: #3d3d3d;
    --card-container-color: var(--container-color);
}

html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 4.5rem;
}

a {
    text-decoration: none;
}

.app {
    display: grid;
    gap: 2rem;
    background: var(--background-color);
    min-height: 100vh;
}

.heading {
    scroll-snap-align: start;
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    left: 5%;
    padding: 2rem 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: var(--heading-color);
}

.heading.zero-padding {
    padding: 0 !important;
}

.heading#project,
.heading#skills {
    width: 90%;
}

.heading img {
    width: 1.2rem;
}

.screen-container {
    min-height: 100vh;
}

@media (max-width: 1285px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 1140px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .heading {
        scroll-snap-align: none;
    }
}